{% extends 'layout/base.html' %}

{% block title %}Đặt lịch khám{% endblock %}

{% block content %}
<div class="container my-5">

    <h2 class="text-center text-primary fw-bold mb-5">
        Đặt lịch khám
    </h2>

    <div class="card shadow border-0 rounded-4 mb-4" data-step="1">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-3">🧑‍⚕️ Chọn hồ sơ bệnh nhân</h5>
                <a href="/patients/new" class="btn btn-primary shadow mb-3">Tạo hồ sơ mới</a>
            </div>
            <select id="select-patient" class="form-select" name="patient_id">
                <option selected disabled>-- Chọn hồ sơ --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="1">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn dịch vụ</h5>
            <select id="select-service" class="form-select">
                <option selected disabled>-- Chọn dịch vụ --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="4">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn ngày khám</h5>
            <input type="date" class="form-control" name="check_date" onchange="loadDoctor(this.value)">
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/patients.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            getPatients();
            getServices();
        })
    </script>

    <div class="card shadow border-0 rounded-4 mb-4" data-step="3">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn bác sĩ</h5>
            <select class="form-select" name="doctor_id" id="doctor-select">
                <option selected disabled>-- Vui lòng chọn ngày trước --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="5">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn giờ khám</h5>

            <div class="d-flex flex-wrap gap-2">
                <button type="button" class="btn btn-outline-primary">08:00</button>
                <button type="button" class="btn btn-outline-primary">09:00</button>
                <button type="button" class="btn btn-outline-primary">10:00</button>
                <button type="button" class="btn btn-outline-primary">14:00</button>
                <button type="button" class="btn btn-outline-primary">15:00</button>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <button class="btn btn-success btn-lg px-5">
            Xác nhận đặt lịch
        </button>
    </div>

</div>
<script src="{{ url_for('static',filename='js/doctors.js') }}"></script>
<script src="{{ url_for('static', filename='js/patients.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        getPatients();
        getServices();
    })
</script>
{% endblock %}
