{% extends 'layout/base.html' %}

{% block content %}
    <h1 class="text-info mt-5 text-center">Đội ngũ bác sĩ</h1>
    {% if doctors %}
        <div class="row">
            {% for d in doctors %}
                <div class="col-md-4 col-6 p-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ d.user.avatar }}" alt="{{ d.user.name }}"
                             style="height: 250px; object-fit: cover; object-position: center;">
                        <div class="card-body">
                            <h5 class="card-title">{{ d.user.name }}</h5>
                            <p class="card-text text-muted">Chuyên Khoa: {{ d.major }}</p>
                            <p class="card-text text-muted">Số điện thoại: {{ d.user.phone }}</p>
                            <button class="btn btn-primary" onclick="">Chọn bác sĩ
                                <a href="/appointment_of_doctor?doctor_id={{ d.id }}"></a>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger mt-2">Không có sản bác sĩ nào!</div>
    {% endif %}
    <script src="{{ url_for("static",filename="js/doctor.js") }}"></script>
{% endblock %}