{% extends 'layout/base.html' %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4 col-sm-8">
      <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-5 d-flex flex-column justify-content-center">

          <h3 class="text-center text-primary mb-4 fw-bold">
            Đăng ký người dùng
          </h3>

          {% if err_msg %}
          <div class="alert alert-danger text-center mb-3">
            {{ err_msg }}
          </div>
          {% endif %}

          <form method="post" action="/register?next=/login" enctype="multipart/form-data">

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="Họ tên" name="name" required />
              <label for="name">Họ tên</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" name="phone" required />
              <label for="phone">Số điện thoại</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" required />
              <label for="username">Tên đăng nhập</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu" name="password" required />
              <label for="pwd">Mật khẩu</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm" required />
              <label for="confirm">Xác nhận mật khẩu</label>
            </div>

            <div class="form-floating mb-3">
              <input type="file" class="form-control" id="avatar" name="avatar"/>
              <label for="avatar">Ảnh đại diện</label>
            </div>

            <div class="d-grid gap-3 mt-4">
              <button type="submit" class="btn btn-primary btn-lg">Đăng ký</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
