{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-info mt-5 text-center">Dịch vụ của chúng tôi</h1>
<form class="d-flex mb-5 mt-5 w-50 mx-auto" method="get" action="/services">
    <input class="form-control me-2" type="text" placeholder="Tìm dịch vụ..." name="kw"/>
    <button class="btn btn-primary" type="submit">Tìm</button>
</form>
{% if services %}
<div class="row">
    {% for s in services %}
    <div class="col-md-4 col-6 p-3">
        <div class="card">
            <img class="card-img-top" src="{{ s.image }}" alt="{{ s.name }}">
            <div class="card-body">
                <h4 class="card-title">{{ s.name }}</h4>
                <p class="card-text">{{ "{:,.0f}".format(s.price) }} ₫</p>
                <button class="btn btn-primary">Đặt lịch khám ngay</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-danger mt-2">Không có sản dịch vụ nào!</div>
{% endif %}

{% endblock %}