{% if current_user.is_authenticated and current_user.user_role.value == 1 %}

{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-info mt-1">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ</h1>
<h2 class="text-success">Chào {{ current_user.name }}!</h2>

<div class="card" style="width: 18rem;">
    <img src="{{ current_user.avatar }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Quản trị viên</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Họ tên: {{ current_user.name }}</li>
        <li class="list-group-item">Số điện thoại: {{ current_user.phone }}</li>
        <li class="list-group-item">Vai trò: Quản trị</li>
    </ul>
</div>
{% endblock %}

{% else %}

<p style="text-align: center; font-size: 50px;">Bạn không được cấp quyền truy cập vào trang này!</p>

{% endif %}