{% if current_user.is_authenticated and current_user.user_role.value == 1 %}

{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-info mt-1">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ</h1>
<h2 class="text-success">Chào {{ current_user.name }}!</h2>

<div class="card" style="width: 18rem;">
    <img src="{{ current_user.avatar }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Quản trị viên</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Họ tên: {{ current_user.name }}</li>
        <li class="list-group-item">Số điện thoại: {{ current_user.phone }}</li>
        <li class="list-group-item">Vai trò: Quản trị</li>
    </ul>
</div>
{% endblock %}

{% else %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403 Forbidden</title>
</head>
<body>
    <div>
        <h1>Forbidden</h1>
        <p>You don't have the permission to access the requested resource. It is either read-protected or not readable by the server.</p>
    </div>
</body>
</html>
{% endif %}